<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Bootstrap Scrollable Select Example</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<!-- responsive equal width cols, can be sm, md, lg, or xl -->
<div class="container">
    <div class="row">
        <div class="col-sm">1 of 3</div>
        <div class="col-sm">1 of 3</div>
        <div class="col-sm">1 of 3</div>
    </div>
</div>

</body>
</html>
